@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #EE5411;
  --primary-hover: rgba(238, 84, 17, 0.85);
  --black: #111827;
}

@layer base {
  .text-secondary {
    @apply text-gray-900
  }
  .text-tertiary {
    @apply text-gray-700
  }
  body {
    @apply bg-gray-50
  }
}

@layer components {
  .page {
    @apply py-8;
  }
}
